:root {
  --content-width: 74rem;
}

@font-face {
  font-family: "Socialico";
  src: url(../fonts/socialico.woff) format("woff"),
       url(../fonts/socialico.ttf) format("truetype"),
       url(../fonts/socialico.svg) format("svg"),
       url(../fonts/socialico.eot) format("embedded-opentype");
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}



strong, b {
  font-weight: 600;
}

img {
  width: 100%;
}

.page > * {
  margin: 0 auto;
}

.header {
  max-width: var(--content-width);
}

.header a {
  position: relative;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .05em;
  padding: .5rem 0;
  font-weight: 700;
}

.header .logo {
  display: block;
  margin-bottom: 1.5rem;
  padding: .5rem 0;
  max-width: 40%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  margin: 0 .75rem;
}

.menu a[aria-current] {
  border-bottom: 2px solid #000;
}

@media screen and (min-width: 40rem) {
  .header .logo {
    margin-bottom: 0;
    max-width: 15%;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--content-width);
  }
  .menu {
    margin-right: -.75rem;
  }
}


main {
  min-height: calc(100vh - 10rem);
}

.intro {
  padding: 10vh 0;
  margin-bottom: 5rem;
  text-align: center;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 0.8rem;
  font-weight: 900;
  font-size: calc(1vw + 2rem);
  z-index: 1;
}

hr {
  display: block;
  width: 50rem;
  height: 2px;
  border: 0;
  border-top: 2px solid white;
  margin: 1rem auto;
  padding: 0;
}

.tags {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: .75rem;
  font-weight: 600;
}

.text {
  max-width: var(--content-width);
  line-height: 1.5em;
  margin: 0 3rem;
}
.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1.5em;
}
.text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.text > *:first-child {
  margin-top: 0;
}
.text a {
  position: relative;
  white-space: nowrap;
  z-index: 1;
  display: inline-block;
}

.text a:hover {
  color: #878787;
  text-decoration: none;
}

.text figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.text img {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 5vw 1.5rem;
  margin: 0 auto;
  line-height: 1.5em;
  color: white;
  background-color: #000065;
}
.footer a {
  display: inline-block;
  color: #FF772C;
}

.footer a:hover {
  color: #878787;
  text-decoration: none;
}

.footer > a {
  width: 16.5rem;
}

.social a {
  color: white;
  font-family: "Socialico", sans-serif;
  font-size: 1.75rem;
  vertical-align: middle;
  padding: 0 0.5rem;
}
